.container {
    padding: 4vw 8vw;
    font-size: 1.5vw;
    @media only screen and (max-width: 600px) {
        padding: 8vw;
        font-size: 4vw;
    }

    .heading {
        font-size: 3vw;
        margin-bottom: 2vw;
        @media only screen and (max-width: 600px) {
            font-size: 5vw;
        }
    }
    .info-container {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        @media only screen and (max-width: 600px) {
            flex-direction: column;
        }

        .left-container {
            .info {
                display: flex;
                padding: 0vw 4vw;
                @media only screen and (max-width: 600px) {
                    font-size: 3vw;
                }

                .info-head {
                    font-weight: 800;
                    width: 15vw;
                    @media only screen and (max-width: 600px) {
                        width: 28vw;
                    }
                }
                .info-data {
                    margin-left: 1vw;
                }
            }
        }
    }
    .hline {
        border-bottom: 2px solid gray;
        height: 1px;
        margin: 2vw 0vw;
    }
    .content {
        font-size: 1.5vw;
        @media only screen and (max-width: 600px) {
            font-size: 4vw;
        }
    }
}
.logo {
    background-image: url("../../assets/ispirt-logo.svg");
    background-size: 5vw;
    width: 5vw;
    margin: 2vw;
    margin-left: 8vw;
    height: 6vw;
    cursor: pointer;
}
.home {
    cursor: pointer;
}
.s {
    display: flex;
    align-items: center;
}