<header>
  <div (click)="go_home()" class="logo"></div>
  <nav>
    <ul>
      <li (click)="go_home()">
        Home
      </li>
    </ul>
  </nav>
</header>
<div *ngIf="article" class="container">
  <div class="heading">{{article.title}}</div>
  <div class="hline"></div>
  <div class="content">
    <div class="abstract" [innerHTML]="article.abstract_html"></div>
  </div>
  <div class="hline"></div>
  <div class="info-container">
    <div class="left-container">
      <div class="info">
        <div class="info-head">
          Author:
        </div>
        <div class="info-data">
          {{article.author}}
        </div>
      </div>
      <div class="info">
        <div class="info-head">
          Last Update:
        </div>
        <div class="info-data">
          {{article.last_update}}
        </div>
      </div>
      <div class="info">
        <div class="info-head">
          Tags:
        </div>
        <div class="info-data">
          {{article.tags}}
        </div>
      </div>
      <div class="info">
        <div class="info-head">
          Status:
        </div>
        <div class="info-data">
          {{article.status}}
        </div>
      </div>
      <div class="info">
        <div class="info-head">
          Disclosures:
        </div>
        <div class="info-data">
          {{article.disclosures}}
        </div>
      </div>
    </div>
    <div class="left-container">
      <div class="info">
        <div class="info-head">
          Designations:
        </div>
        <div class="info-data">
          {{article.designation}}
        </div>
      </div>
      <div class="info">
        <div class="info-head">
          Peer Reviewed:
        </div>
        <div class="info-data">
          {{article.peer_reviewed}}
        </div>
      </div>
      <div class="info">
        <div class="info-head">
          Affiliation:
        </div>
        <div class="info-data">
          {{article.affiliation}}
        </div>
      </div>
      <div class="info">
        <div class="info-head">
          External Funding:
        </div>
        <div class="info-data">
          {{article.external_funding}}
        </div>
      </div>
    </div>
  </div>
  <div class="hline"></div>
  <div class="content">
    <div [innerHTML]='content'></div>
  </div>
  <!-- <disqus [identifier]='article.id.toString()'></disqus> -->
</div>

<div (click)="goToTop()" class="btn__gototop">
  <div class="arrow-up">
    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
      y="0px" viewBox="0 0 512.005 512.005" style="enable-background:new 0 0 512.005 512.005;" xml:space="preserve">
      <path d="M466.22,205.787L263.553,3.12c-4.16-4.16-10.923-4.16-15.083,0L45.804,205.787c-21.803,21.803-21.803,57.28,0,79.083
			s57.28,21.803,79.083,0l77.781-77.781v251.584c0,29.397,23.936,53.333,53.333,53.333s53.333-23.936,53.333-53.333V207.088
			l77.781,77.781c21.803,21.803,57.28,21.803,79.083,0C488.001,263.088,488.001,227.589,466.22,205.787z" />
    </svg>
  </div>
  <span class="label">Jump to Top</span>
</div>
