.container {
    padding: 2vw;
    @media only screen and (max-width: 600px) {
        padding: 6vw;
    }

    .heading {
        font-size: 3vw;
        margin-bottom: 2vw;
        @media only screen and (max-width: 600px) {
            font-size: 8vw;
        }
    }

    .article {
        font-size: 1.5vw;
        cursor: pointer;
        margin: 3vw 0vw;
        text-decoration: underline;
        @media only screen and (max-width: 600px) {
            font-size: 4vw;
            margin: 7vw 0vw;
        }

        .info-container {
            display: flex;

            .info {
                font-size: 1vw;
                margin-right: 3vw;
                text-decoration: unset;
                @media only screen and (max-width: 600px) {
                    font-size: 3vw;
                }
            }
        }
    }
}
.background {
    position: fixed;
    width: 100vw;
    min-height: 100vh;
    z-index: -1;
}