.container {
    padding: 2vw;

    .heading {
        font-size: 3vw;
        margin-bottom: 2vw;
    }

    .article {
        font-size: 1.5vw;
        cursor: pointer;
        margin: 1vw 0vw;
        text-decoration: underline;
    }
}